{
  "mcpServers": {
    "casper-nctl-2-docker-http": {
      "url": "http://127.0.0.1:8791/mcp"
    },
    "casper-nctl-2-docker-stdio": {
      "command": "docker",
      "args": [
        "run",
        "--rm",
        "-i",
        "-v",
        "/var/run/docker.sock:/var/run/docker.sock",
        "-v",
        "${workspaceFolder}:/workspace",
        "-e",
        "NCTL_DOCKER_ROOT=/workspace",
        "interchouette/casper-nctl-2-docker-mcp:2.2",
        "casper-nctl-2-docker-mcp"
      ]
    }
  }
}
